.moduls-slider {
  padding: 160px 0px 160px 140px;
  color: #141414;
  .top {
    padding-right: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      max-width: 380px;
      font-size: 34px;
      font-weight: 700;
      line-height: 41.15px;
    }
    .buttons {
      display: flex;
      gap: 10px;
      button {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 2px solid #1414145d;
        color: #1414145d;
        border-radius: 7px;
        cursor: pointer;
        transition: 0.1s;
        &:hover {
          color: #14141451;
          border-color: #14141451;
        }
        &:active {
          color: #0d42aa;
          border-color: #0d42aa;
        }
        &.left_btn {
          transform: rotate(180deg);
        }
      }
    }
  }
  .content {
    margin-top: 40px;
  }
  .boxes {
    display: none;
    flex-wrap: wrap;
    gap: 30px;

    .box {
      width: 285px;
    }
  }
  .box {
    padding: 20px;
    height: 250px;
    border-radius: 4px;
    box-shadow: 2px 2px 6px 0px #0000001a;
    background-color: #fff;
    margin-bottom: 4px;
    .head {
      display: flex;
      gap: 10px;
      .square {
        width: 48px;
        height: 44px;
        padding: 7px 9px;
        border-radius: 4px;
        background-color: #0d42aa;
        font-size: 30px;
      }
      h2 {
        max-width: 200px;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.78px;
      }
    }
    p {
      padding-top: 20px;
      margin-top: 20px;
      border-top: 1px solid #f5f5f5;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: #141414b9;
    }
  }
}

@media screen and (width < 448px) {
  .moduls-slider {
    padding: 100px 30px;
    .top {
      padding: 0;
      h1 {
        font-size: 30px;
        max-width: 100%;
      }
      .buttons {
        display: none;
      }
    }
    .swiper_slider {
      display: none;
    }
    .boxes {
      display: flex;
      gap: 20px;

      .box {
        width: 100%;
        height: auto;
      }
    }
  }
}
@media screen and (448px < width < 800px) {
  .moduls-slider {
    padding: 100px 8vw;
    .top {
      .buttons {
        display: none;
      }
    }
    .swiper_slider {
      display: none;
    }
    .boxes {
      display: flex;
      justify-content: center;
      gap: 0;
      flex-wrap: wrap;
      row-gap: 30px;

      .box {
        max-width: 90%;
        width: 90%;
        min-width: 280px;
        height: auto;
      }
    }
  }
}
@media screen and (800px < width < 1000px) {
  .moduls-slider {
    padding: 100px 30px;

    .top {
      padding-right: 0;
    }
    .box {
      height: auto;
      min-height: 280px;
    }
  }
}
@media screen and (999px < width < 1200px) {
  .moduls-slider {
    padding: 100px 30px;
  }
}
